<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Validator</title>
</head>
<body>
    <h1>Validator!</h1>
    <h2>{{ name }}</h2>

    <form method="post" action="">
       <label for="id">Login: <input id="id" name="email"></label>
        <br/>
        <label for="id2">Password: <input id="id2" type="password" name="pass"> </label>
        <br>
        <label for="id3">Name: <input id="id3" type="text" name="name"> </label>
        <br>
        <button type="submit">Send</button>
    </form>
</body>
</html>